body{
    margin: auto;
    padding: 0em;
    zoom: normal;
    background-image: url("/resources/background.jpg");
    scroll-behavior: smooth;
   
}

form{
margin: 0rem;
margin-top: 64px;
margin-left: 54px;
margin-right: 54px;
padding-left: 32pc;
padding-right: 32pc;
background-color: cadetblue;
width: fit-content;
max-height:fit-content;
border-radius:25px;
}
#registration{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 34px;
}
label{
    font-style:initial;
    font-size: 20px;
    align-items: center;
    

}
input{
    input-security:inherit;
    font-size:16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:unset;
    border-radius: 10px;
}
#input_form{
    margin-top: -24px;
}
#checkbox_gender{
    margin-top: -5px;
}

#counties{
font-size: 16px;
font-family: monospace;
font-weight: 100;
border: radius 5px;
}
#gender{
    font-size: 20px;
    margin-top: 2.5px;
}
#checkbox{
    margin-top: -2px;
    padding: 0%;
    align-items: baseline;
}

#register{
font-size: 18px;
margin-left: 40px;
margin-top: 10px;
border-radius: 10px;
color: grey;
background-color: aqua;
}
#report{
    font-size: 18px;
    color: whitesmoke;
    appearance: none;

}
